body {
	background-color: pink;
}

table {
	background-color: white;
	border: 2px black solid;
	margin: 5em auto;
}

#b1{
	background-color: blue;
	height: 3em;
	width: 6em;
	margin: 0 auto;
}
#b2{
	background-color: black;
	height: 3em;
	width: 8em;
	margin: 0 auto;
}
td, th {
	border: 1px black solid;
}
#baseOne {
	background-color: yellow;
	height: 3em;
	width: 10em;
}
#baseTwo {
	background-color: yellow;
	height: 3em;
	width: 10em;
}

.draggable {}
