body {
	background-color: pink;
}

table {
	background-color: white;
	border: 2px black solid;
	margin: 5em auto;
}

#b1{
	background-color: blue;
	height: 1em;
	width: 4em;
	margin: 0 auto;
	border: 1px pink solid;
	border-radius: 10px;
}
#b2{
	background-color: black;
	height: 1em;
	width: 6em;
	margin: 0 auto;
	border: 1px pink solid;
	border-radius: 10px;
}
#b3 {
	background-color: yellow;
	height: 1em;
	width: 8em;
	margin: 0 auto;
	border: 1px pink solid;
	border-radius: 10px;
}

td, th {
	width: 12em;
	height: 3em;
	border: 1px black solid;
}
#baseOne {
	background-color: yellow;
	height: 3em;
	width: 10em;
}
#baseTwo {
	background-color: yellow;
	height: 3em;
	width: 10em;
}
#baseThree {
	background-color: yellow;
	height: 3em;
	width: 10em;
}

.draggable {}
