body {
	background-color: pink;
}

#center {
	text-align: center;
	margin: 0 auto;
	width: 70em;
	height: 30em;
}
.row {
	height: 20em;
	width: 15em;
	margin: 10em 1em;
	float: left;
	border-bottom: 8px black solid;
	text-align: center;
	padding-bottom: 10px;
}

.brick {
	background-color: blue;
	margin:0 auto;
	margin-bottom: 1%;
	padding: 0;
	border-radius: 5px;
}

/* .brick:last-child { */
/*   background-color: yellow; */
/*   position: absolute; */
/*   margin: 0 auto; */
/*   bottom: 0; */
/*   } */
.row:first-of-type {
	margin-left: 10em;
}
